#locationRollUp.shadow.pull-left

	a(href="/organization/assets")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*100+1)
			li.locationLabel Assets

	a(href="/organization/assets/users")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*700+1)
			li.locationLabel Users

	a(href="/organization/assets/locations")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*100+1)
			li.locationLabel Locations

	a(href="/organization/assets/countries")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*193+1)
			li.locationLabel Countries