script
	$(function(){
		$('.compromise01').click(function(){
			$('.details01').slideToggle();
		});
		$('.compromise02').click(function(){
			$('.details02').slideToggle();
		});
		$('.compromise03').click(function(){
			$('.details03').slideToggle();
		});
	});