.userEventsHeader
	.row
		.span2
			.header # of Users
		.span6
			.header Asset Name
		.span3.offset1
			.header.date Since
- x = 40;
- for (i=0;i<=17;i++)
	.userEventsWrapper
		.row
			.span2
				div.number= (x--)
			.span6
				div.location AssetName
			.span3.offset1 
				div.timeDate May 13, 2013<br>3:37:22 UTC