script
	$(function(){
		$('.compromise01').click(function(){
			$('.details01').slideToggle();
		});
		$('.compromise02').click(function(){
			$('.details02').slideToggle();
		});
		$('.compromise03').click(function(){
			$('.details03').slideToggle();
		});
		$('.compromise04').click(function(){
			$('.details04').slideToggle();
		});
		$('.compromise05').click(function(){
			$('.details05').slideToggle();
		});
		$('.compromise06').click(function(){
			$('.details06').slideToggle();
		});
	});