div.container
	.row
		.span12
			p.footerText.pull-left &copy;2013 - <a href="rapid7.com">Rapid7, Inc.</a> All rights reserved.
			ul.footerMenu.pull-right
				li	
					a(href="/legal") Legal
				li
					a(href="/privacy") Privacy
				li
					a(href="/help") Help