#locationRollUp.shadow.pull-left

	a(href="/users/username/devices")
		ul.locationRollUp.pull-left
			li.sum 4
			li.locationLabel Devices

	a(href="/users/username/cloud_services")
		ul.locationRollUp.pull-left
			li.sum 12
			li.locationLabel Cloud Services

	a(href="/users/username/locations")
		ul.locationRollUp.pull-left
			li.sum 5
			li.locationLabel Locations

	a(href="/users/username/assets")
		ul.locationRollUp.pull-left
			li.sum 9
			li.locationLabel Assets

	a(href="/users/username/accounts")
		ul.locationRollUp.pull-left
			li.sum 7
			li.locationLabel Accounts

	a(href="#")
		ul.locationRollUp.pull-left
			li.sum 72
			li.locationLabel Risk