.row
	.span12
		#organizationFilterWrapper
			div.filters.pull-left
				include ../includes/_organization_filters_dead
			div.mapToggle.pull-right
				ul.nav.nav-pills
					li
						a(href="#") Toggle Map


.row
	.span12
		#map
			img(src="/images/map01.png")