.row
	.span12
		#userCompromisesWrapper.pull-left.shadow
			div.compromiseHeaderWrapper.compromise01
				.row
					.span10
						div.compromiseHeader
							div.message
								p Account Name authenticated from 16 organizations in 56 minutes 5 seconds
					.span2
						div.timeDate
							p.date May 13, 2013
							p.time 3:37:22 UTC

			div.compromiseDetailsWrapper.details01
				.row
					.span12
						- for (i=0; i<=15; i++)
							div.compromiseDetail.pull-left 
								a(href="/organizations/orgname") Organization Name
								p May 13, 2013 - 3:37:22 UTC
		#userCompromisesWrapper.pull-left.shadow
			div.compromiseHeaderWrapper.compromise02
				.row
					.span10
						div.compromiseHeader
							div.message
								p Account Name authenticated from 16 organizations in 56 minutes 5 seconds
					.span2
						div.timeDate
							p.date May 13, 2013
							p.time 3:37:22 UTC

			div.compromiseDetailsWrapper.details02
				.row
					.span12
						- for (i=0; i<=15; i++)
							div.compromiseDetail.pull-left 
								a(href="/organizations/orgname") Organization Name
								p May 13, 2013 - 3:37:22 UTC

		#userCompromisesWrapper.pull-left.shadow
			div.compromiseHeaderWrapper.compromise03
				.row
					.span10
						div.compromiseHeader
							div.message
								p Account Name authenticated from 16 organizations in 56 minutes 5 seconds
					.span2
						div.timeDate
							p.date May 13, 2013
							p.time 3:37:22 UTC

			div.compromiseDetailsWrapper.details03
				.row
					.span12
						- for (i=0; i<=15; i++)
							div.compromiseDetail.pull-left 
								a(href="/organizations/orgname") Organization Name
								p May 13, 2013 - 3:37:22 UTC
				

			