.userEventsWrapper
	.userEventsHeader Event
	- for (i=0;i<=23;i++)
		.userEvents
			div.title Generic title here
			div.event Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			div.timeDate May 13, 2013 at 3:37:22 UTC