#locationRollUp.shadow.pull-left

	a(href="/users/username/compromises")
		ul.locationRollUp.pull-left
			li.sum 3
			li.locationLabel Compromises

	a(href="/users/username/locations")
		ul.locationRollUp.pull-left
			li.sum 6
			li.locationLabel Locations

	a(href="/users/username/accounts")
		ul.locationRollUp.pull-left
			li.sum 12
			li.locationLabel Accounts

	a(href="/users/username/assets")
		ul.locationRollUp.pull-left
			li.sum 3
			li.locationLabel Assets

	a(href="/users/username/mobile_devices")
		ul.locationRollUp.pull-left
			li.sum 2
			li.locationLabel Mobile Devices

	a(href="/users/username/cloud_services")
		ul.locationRollUp.pull-left
			li.sum 12
			li.locationLabel Cloud Services