#locationRollUp.shadow.pull-left

	a(href="/organization/viruses")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*100+1)
			li.locationLabel Viruses

	a(href="/organization/viruses/users")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*700+1)
			li.locationLabel Users

	a(href="/organization/viruses/assets")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*100+1)
			li.locationLabel Assets

	a(href="/organization/viruses/devices")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*193+1)
			li.locationLabel Devices