extends ../layouts/default

block content
	div.container
		.row
			.span12
				include ../includes/_organization_nav
		
				form
					ul#users_filter.nav.pull-right
						input(type="text", placeholder="Search")

		.row
			.span12
				include ../includes/_locations_nav
				

		
		include ../includes/_locations_map


		.row
			.span12
				#locationUsers
					- x = 87
					- for (i = 0; i <= 18; i++)
						a(href="/department/departmentname")
							div.userTile.pull-left.shadow.trendStaticPos
								ul
									li.riskScore= (x--)
									li.trend
									li.attitude Users
									li.attitudeCount= Math.floor(Math.random()*100+1)
									li.userName  
									li.department Department Name

					
						
				

block document
	include ../includes/_locations_document
	script
		$(function(){
			$("#locationRollUp a:nth-child(2) ul").addClass('active');
		});