extends ../layouts/default

block content
	div.container
		.row
			.span12
				include ../includes/_organization_nav
		
				form
					ul#users_filter.nav.pull-right
						input(type="text", placeholder="Search")

		.row
			.span12
				include ../includes/_mobile_devices_nav
				
		include ../includes/_locations_map

		.row
			.span12
				#locationUsers
					- x = 87
					- for (i = 0; i <= 45; i++)
						a(href="/username")
							div.userTile.pull-left.shadow.trendStaticPos
								ul
									li.riskScore= (x--)
									li.trend
									li.attitude Organizations
									li.attitudeCount= Math.floor(Math.random()*20+1)
									li.userName Device Name
									li.department  Device Type

block document

	include ../includes/_mobile_devices_document

	script
		$(function(){
			$("#locationRollUp a:nth-child(4) ul").addClass('active');
		});