extends ../layouts/default

block content

	div.container

		.row
			.span12

				div#freshtilledsoil_embed_widget.video-chat-widget
				script#fts(src="http://freshtilledsoil.com/embed/webrtc-v5.js?r=FTS0316-CZ6NqG97")