.row
	.span9
		ul.user_details_vanity
			li.username Firstname MI Lastname Lastname
			li.title Job Title
			li.department Department Name
			li.location Home Location or Variant
	.span3
		ul.risk_score
			li.totalScore 48
			li.totalScoreLabel Risk Score
			li.uniqueOrgs
 				.riskLabel.pull-left Unique Organizations 
 				.riskScore.pull-right 24
			li.uniqueCountries 
				.riskLabel.pull-left Unique Countries 
				.riskScore.pull-right 4
			li.uniqueAssets 
				.riskLabel.pull-left Unique Assets 
				.riskScore.pull-right 2
			li.virusAlerts 
				.riskLabel.pull-left Virus Alerts 
				.riskScore.pull-right 5